
/*==============================================================================

Table of contents

Color:          #666666 (default)
                (links, logo, weather, sidebar widget title, tabs,
                post meta icons, post controls, accordions, page 404)

Background:     #666666 (default)
                (tag cloud buttons, pagination, onsale label, price slider shop,
                category labels on images)

Border:         #666666 (default)
                (price slider shop, main menu links, images bottom border)

===============================================================================*/

.top-bar.light {
	background-color: #fdfdfd;
}
.top-bar.dark {
    background-color: #333;
} 
.primary-menu.light {
    background-color: #fdfdfd;
}
.primary-menu.dark {
    background-color: #333;
}
#footer, #copyright {
    background-color: #fafafa;
    color: #999;
}
#footer ul.recent-comments h3 a, #footer ul.recent-posts h3 a {
    color: #999;
}
#footer h3.widget-title {
    color: #999;
    border-bottom: 1px solid #ccc;
}
#footer ul.recent-posts li {
    border-bottom: 1px solid #ccc;
}
#footer a, #copyright a {
    color: #999;
}
#footer a:hover, #copyright a:hover {
    color: #333;
}
#header.dark, #header.light  {
	background-color: #fafafa;
}

/*==============================================================================
    Color (Secondary)
===============================================================================*/
a,
h1#site-logo,
h1#site-logo a,
.weather-report .report,
.tabs .ui-tabs-nav li.ui-state-active a,
article .post-meta span:before,
.post-info span:before,
.post-controls a:hover,
.post-controls a span i,
.accordion .title.ui-state-active,
.above-the-fold h2.page-title,
.page404 h2 {color: #666666} /*custom color */

/*==============================================================================
    Background Color (Secondary)
===============================================================================*/
.primary-menu.dark {
	background-color: #666666; /*custom color */
}

/*==============================================================================
    Background color (Secondary)
===============================================================================*/
.tagcloud a:hover,
#footer .tagcloud a:hover,
ul.page-numbers li span.current,
ul.page-numbers li a:hover,
.onsale,
.price_slider_wrapper .ui-slider-range,
a.selected-gallery-filter,
.block-layout-one .item span,
.post-box-text span,
.block-layout-two .main-item .post-img span,
.block-layout-three .main-item .post-img span,
.block-layout-four .main-item .post-img span,
.block-layout-five .main-item .post-img span,
.block-layout-six .main-item .post-img span, 
.btn-custom, #footer .btn-custom:hover,
.primary-menu.light .click-to-open-menu, .primary-menu.dark .click-to-open-menu {background-color: #666666} /*custom color */

/*==============================================================================
    Border color (Secondary)
===============================================================================*/
.price_slider_wrapper .ui-slider-handle,
.main-menu > li > a,
.block-layout-three .item img,
.block-layout-two .item img,
.block-layout-one .item img {border-color: #666666} /*custom color */