
/* ROBOTO OPTION */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,greek-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,700italic,400,300,700&subset=latin,greek-ext);

body,
h1#site-logo,
h3.widget-title,
.single-post h3.lead {
    font-family: 'HelveticaNeue', 'Roboto', 'Arial' 'sans-serif';
}

h1, h2, h3, h4, h5, h6,
h3.widget-title,
.dropcap:first-letter,
p.title,
.ui-tabs-nav,
.post-controls a p,
.accordion .title,
h1#site-logo span {
    font-family: 'HelveticaNeue', 'Roboto', 'Arial' 'sans-serif';
}

#footer {
    font-family: 'HelveticaNeue', 'Roboto', 'Arial' 'sans-serif';
}