/* 26/08 9:00 */

/* Body colors, fonts */
body {
    font-size: 16px;
    line-height: 1.5em;
    background-color: #fafafa;
}

body,
h1#site-logo,
h3.widget-title,
.single-post h3.lead {
    font-family: 'Roboto', 'sans-serif';
}
.txt-small {
	font-size: 12px;
}
.clearfix {
	clear: both;
	line-height: 0px;
	font-weight: 0px;
	height: 0px;
}

/*==============================================================================
    Background Advertise
===============================================================================*/
@media (min-width:1301px) {
	#wrapper.boxed_add .inner-wrapper {
	    width: 1000px
	}
	#wrapper.boxed_add .ad-banner-728x90 {
	    float: left
	}
	#wrapper.boxed_add a.responsive-menu-btn {
    	display: none !important
	}
	#wrapper.boxed_add .main-menu > li > a {
	    font-size: 12px;
	    padding: 15px 6px;
	}
	#wrapper.boxed_add .row .grid_4 {width:31.9431%}
	#wrapper.boxed_add .primary-menu li.mega-menu-full ul.menu-blocks .grid_4 {
		width:32%;
		margin: 0 2% 0 0;
	}
	#wrapper.boxed_add .primary-menu li.mega-menu-full ul.menu-blocks .grid_4:last-child {
		margin: 0 0 0 0;
		margin-right: 0px;
	}
	#wrapper.boxed_add .posts-top-grid .post-block {
	    width: 316px
	}
	#wrapper.boxed_add .flexslider {
	    width: 655px;
	}
	#wrapper.boxed_add .flexslider .post-box-text h3 {
	    font-size: 24px
	}
	#wrapper.boxed_add .block-with-two-posts .post-block {
	    width: 300px;
	    height: 208px
	}
	#wrapper.boxed_add .block-with-two-posts .post-block img {
	    width: auto;
	    min-height: 208px
	}
	#wrapper.boxed_add #main.left,
	#wrapper.boxed_add #main.right {
	    width: 724px
	}
	#wrapper.boxed_add .block-layout-three .main-item {
	    width: 358px;
	    margin-right: 8px
	}
	#wrapper.boxed_add .block-layout-three .small-items {
	    width: 358px;
	    margin: 0 0 1em 0
	}
	#wrapper.boxed_add .block-layout-five .main-item .post-img {
	    width: 280px
	}
	#wrapper.boxed_add .block-layout-five .main-item .post-meta {
	    width: 424px
	}
	#wrapper.boxed_add ul.products li.product {
	    width: 222px;
	    margin-right: 24px
	}
	#wrapper.boxed_add #main.left ul.products li.product,
	#wrapper.boxed_add #main.right ul.products li.product {
	    width: 175px;
	    margin-right: 8px
	}
	#wrapper.boxed_add aside#sidebar {
	    width: 216px
	}
	#wrapper.boxed_add ul.ad-banner-125x125 li {
	    max-width: 106px;
	    border: none;
	    padding: 0px;
	    margin: 1px
	}
	#wrapper.boxed_add ul.ad-banner-125x125 li img {
	    
	}
	#wrapper.boxed_add ul.ad-banner-125x125 li:hover {
	    border: 1px solid #ccc
	}
	#wrapper.boxed_add .widget .tabs .ui-tabs-nav {
	    padding: 0
	}
	#wrapper.boxed_add .tabs .ui-tabs-nav li {
	    margin-right: 0;
	    float: none;
	    display: block
	}
	#wrapper.boxed_add .tabs .ui-tabs-nav li a {
	    display: block
	}
	#wrapper.boxed_add #footer .widget {
	    margin: 0 24px 1em 0;
	    width: 222px
	}
	#wrapper.boxed_add #footer .widget:last-child {
	    margin-right: 0;
	}
	#wrapper.boxed_add .row .grid_1,
	#wrapper.boxed_add .row .grid_2,
	#wrapper.boxed_add .row .grid_3,
	#wrapper.boxed_add .row .grid_4,
	#wrapper.boxed_add .row .grid_5,
	#wrapper.boxed_add .row .grid_6,
	#wrapper.boxed_add .row .grid_7,
	#wrapper.boxed_add .row .grid_8,
	#wrapper.boxed_add .row .grid_9,
	#wrapper.boxed_add .row .grid_10,
	#wrapper.boxed_add .row .grid_11 {
	    display: inline;
	    float: left;
	    margin: 0 24px 1em 0
	}
	#wrapper.boxed_add .row .grid_1 {width: 58px;}
	#wrapper.boxed_add .row .grid_2 {width: 140px}
	#wrapper.boxed_add .row .grid_3 {width: 222px}
	#wrapper.boxed_add .row .grid_4 {width: 304px}
	#wrapper.boxed_add .row .grid_5 {width: 386px}
	#wrapper.boxed_add .row .grid_6 {width: 468px}
	#wrapper.boxed_add .row .grid_7 {width: 550px}
	#wrapper.boxed_add .row .grid_8 {width: 632px}
	#wrapper.boxed_add .row .grid_9 {width: 714px}
	#wrapper.boxed_add .row .grid_10 {width: 796px}
	#wrapper.boxed_add .row .grid_11 {width: 878px}
	#wrapper.boxed_add .row .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}
	#wrapper.boxed_add .row .grid_1:last-child,
	#wrapper.boxed_add .row .grid_2:last-child,
	#wrapper.boxed_add .row .grid_3:last-child,
	#wrapper.boxed_add .row .grid_4:last-child,
	#wrapper.boxed_add .row .grid_5:last-child,
	#wrapper.boxed_add .row .grid_6:last-child,
	#wrapper.boxed_add .row .grid_7:last-child,
	#wrapper.boxed_add .row .grid_8:last-child,
	#wrapper.boxed_add .row .grid_9:last-child,
	#wrapper.boxed_add .row .grid_10:last-child,
	#wrapper.boxed_add .row .grid_11:last-child {
	    margin-right: 0 !important
	}
	#wrapper.boxed_add #main.left .grid_1, #wrapper.boxed_add #main.right .grid_1,
	#wrapper.boxed_add #main.left .grid_2, #wrapper.boxed_add #main.right .grid_2,
	#wrapper.boxed_add #main.left .grid_3, #wrapper.boxed_add #main.right .grid_3,
	#wrapper.boxed_add #main.left .grid_4, #wrapper.boxed_add #main.right .grid_4,
	#wrapper.boxed_add #main.left .grid_5, #wrapper.boxed_add #main.right .grid_5,
	#wrapper.boxed_add #main.left .grid_6, #wrapper.boxed_add #main.right .grid_6,
	#wrapper.boxed_add #main.left .grid_7, #wrapper.boxed_add #main.right .grid_7,
	#wrapper.boxed_add #main.left .grid_8, #wrapper.boxed_add #main.right .grid_8,
	#wrapper.boxed_add #main.left .grid_9, #wrapper.boxed_add #main.right .grid_9,
	#wrapper.boxed_add #main.left .grid_10, #wrapper.boxed_add #main.right .grid_10,
	#wrapper.boxed_add #main.left .grid_11, #wrapper.boxed_add #main.right .grid_11 {
	    margin: 0 8px 1em 0
	}
	#wrapper.boxed_add #main.left .grid_1, #wrapper.boxed_add #main.right .grid_1 {width: 53px}
	#wrapper.boxed_add #main.left .grid_2, #wrapper.boxed_add #main.right .grid_2 {width: 114px}
	#wrapper.boxed_add #main.left .grid_3, #wrapper.boxed_add #main.right .grid_3 {width: 175px}
	#wrapper.boxed_add #main.left .grid_4, #wrapper.boxed_add #main.right .grid_4 {width: 236px}
	#wrapper.boxed_add #main.left .grid_5, #wrapper.boxed_add #main.right .grid_5 {width: 297px}
	#wrapper.boxed_add #main.left .grid_6, #wrapper.boxed_add #main.right .grid_6 {width: 358px}
	#wrapper.boxed_add #main.left .grid_7, #wrapper.boxed_add #main.right .grid_7 {width: 419px}
	#wrapper.boxed_add #main.left .grid_8, #wrapper.boxed_add #main.right .grid_8 {width: 480px}
	#wrapper.boxed_add #main.left .grid_9, #wrapper.boxed_add #main.right .grid_9 {width: 541px}
	#wrapper.boxed_add #main.left .grid_10, #wrapper.boxed_add #main.right .grid_10 {width: 602px}
	#wrapper.boxed_add #main.left .grid_11, #wrapper.boxed_add #main.right .grid_11 {width: 663px}
	#wrapper.boxed_add #main.left .grid_12, #wrapper.boxed_add #main.right .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}

}

/*==============================================================================
    Header
===============================================================================*/

.header-with-menu {
    margin-bottom: 0em !important
}

#header h1#site-logo img {
    max-height: 90px;
    max-width: 230px;
}
@media (min-width:1301px) {
	#header h1#site-logo img {
	    max-width: 350px;
		max-height: 90px;
	}
}
@media (min-width:761px) and (max-width:1080px) {
	#logo {
		display: block;
		float: none;
	}
	#header h1#site-logo {
		text-align: center;
	}
}

@media (min-width:761px) and (max-width:1080px) {
	.header-without-banner #logo {
		display: block;
		float: none;
	}
	.header-without-banner  h1#site-logo {
		text-align: center;
	}
	.header-without-banner  h1#site-logo img {
	    max-width: none;
		max-height: 90px;
	}
}
@media (min-width:1081px) and (max-width:1300px) {
	.header-without-banner #logo {
		display: block;
		float: none;
	}
	.header-without-banner  h1#site-logo {
		text-align: center;
	}
	.header-without-banner  h1#site-logo img {
	    max-width: none;
		max-height: 90px;
	}
}
@media (min-width:1301px) {
	.header-without-banner #logo {
		display: block;
		float: none;
	}
	.header-without-banner  h1#site-logo {
		text-align: center;
	}
	.header-without-banner  h1#site-logo img {
	    max-width: none;
		max-height: 90px;
	}
}


/*==============================================================================
    HTML Tags
===============================================================================*/

.btn-custom:hover {
    background-color: #EEE;
    color: #666;
}

/*==============================================================================
    Navigation
===============================================================================*/

ul.top-menu > li, ul.top-menu > li:last-child, .top-bar.dark, .primary-menu.dark, .primary-menu.light, .primary-menu.light .main-menu > li, .primary-menu.light .main-menu > li:last-child, .primary-menu.dark .main-menu > li, .primary-menu.dark .main-menu > li:last-child, .main-menu > li > a {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
}
.primary-menu {
    margin-bottom: 2.5em
}
.primary-menu .main-menu ul.sub-menu {
	left: auto;
}
.primary-menu.light {
    border-bottom: solid 1px #EEE;
}
.primary-menu.dark ul.menu-mobile li a {
    border-bottom: 1px solid #EEE
}
.primary-menu.light ul.menu-mobile li:last-child a {
    border-bottom: none;
}
.primary-menu.dark ul.menu-mobile li:last-child a {
    border-bottom: none;
}

.primary-menu.light ul.menu-mobile li a {
    border-bottom: 1px solid #eee
}


.primary-menu.light .click-to-open-menu {
    border-left: none;
    border-right: none;
    border-bottom: none;
    color: #333
}
.primary-menu.dark .click-to-open-menu {
    border-left: none;
    border-right: none;
    border-bottom: none;
    color: #fff
}
.click-to-open-menu {
    width: auto;
}

/*==============================================================================
    Layout
===============================================================================*/

.above-the-fold {
    padding: 0;
    margin-top: 0em;
    margin-bottom: 0;
	padding-top: 2.5em;
}
#above-the-fold {
	padding-top: 0em;
	margin-top: -2.5em;
}

.grid_6 .main-item, .grid_6 .small-items, .grid_4 .main-item, .grid_4 .small-items {
	width: auto;
}

.col_main div.product:after,
.col_main div.product:before {
    content: " ";
    display: table
}
.col_main div.product:after {
    clear: both
}

/* Main */
.col_main {
    margin-bottom: 1em;
    width: 100%
}
.col_main.left {
    float: left;
    width: 860px;
    margin-right: 20px
}
.col_main.right {
    float: right;
    width: 860px;
    margin-left: 20px
}

.col_main.left ul.products li.product,
.col_main.right ul.products li.product {
    width: 203px;
    margin-right: 16px
}

.col_main div.product {
    position: relative
}
.col_main div.product img {
    width: 100%
}
.col_main .onsale {}

.col_main div.images {
    width: 48%;
    margin-bottom: 3em;
    float: left;
    margin-right: 2%
}
.col_main div.images a {
    display: block;
    margin-bottom: 5px;
}
.col_main div.images .thumbnails {
    overflow: hidden
}
.col_main div.images .thumbnails a {
    float: left;
    margin-right: 5px
}
.col_main div.images .thumbnails img {
    width: 90px;
    height: 90px
}
.col_main div.summary {
    margin-bottom: 3em;
    float: right;
    width: 50%
}
.col_main div.summary h1 {
    font-size: 30px
}
.col_sidebar {
    margin-bottom: 1em;
    float: left;
    width: 300px;
    display: inline
}
.col_sidebar h3.widget-title {
}


@media (min-width:0px) and (max-width:760px) {
	.col_main.left,
	.col_main.right {
	    margin-left: 0;
	    margin-right: 0;
	    width: 100%
	}
	.col_main.left ul.products li.product,
	.col_main.right ul.products li.product {
	    width: 49%;
	    margin-right: 2%
	}
	.col_main div.images {
	    width: 100%;
	    float: none;
	    margin-right: 0;
	    display: block;
	}
	.col_main div.images .thumbnails img {
	    width: 70px;
	    height: 70px
	}
	.col_main div.summary {
	    margin-bottom: 3em;
	    float: none;
	    width: 100%;
	    display: block;
	}
	.col_main div.summary h1 {
	    font-size: 30px
	}
	aside.col_sidebar {
	    margin-left: 0;
	    margin-right: 0;
	    width: 100%
	}
	aside.col_sidebar {
		display: none;
	}
	
}
@media (min-width:761px) and (max-width:1080px) {	
	.col_main.left,
	.col_main.right {
	    width: 380px
	}
	.col_main.left ul.products li.product,
	.col_main.right ul.products li.product {
	    width: 49%;
	    margin-right: 2%
	}
	.col_main ul.products li.product {
	    width: 49%;
	    margin-right: 2%
	}
	.col_main ul.products li.product.last,
	.col_main ul.products li.product:nth-child(2n) {
	    margin-right: 0 !important
	}
	.col_main div.images .thumbnails img {
	    width: 55px;
	    height: 55px
	}
	.col_main.left .grid_1, .col_main.right .grid_1,
	.col_main.left .grid_2, .col_main.right .grid_2,
	.col_main.left .grid_3, .col_main.right .grid_3,
	.col_main.left .grid_4, .col_main.right .grid_4,
	.col_main.left .grid_5, .col_main.right .grid_5,
	.col_main.left .grid_6, .col_main.right .grid_6,
	.col_main.left .grid_7, .col_main.right .grid_7,
	.col_main.left .grid_8, .col_main.right .grid_8,
	.col_main.left .grid_9, .col_main.right .grid_9,
	.col_main.left .grid_10, .col_main.right .grid_10,
	.col_main.left .grid_11, .col_main.right .grid_11 {
	    margin: 0 8px 1em 0
	}
	
	.col_main.left .grid_1, .col_main.right .grid_1 {width: 24px}
	.col_main.left .grid_2, .col_main.right .grid_2 {width: 56px}
	.col_main.left .grid_3, .col_main.right .grid_3 {width: 88px}
	.col_main.left .grid_4, .col_main.right .grid_4 {width: 120px}
	.col_main.left .grid_5, .col_main.right .grid_5 {width: 152px}
	.col_main.left .grid_6, .col_main.right .grid_6 {width: 184px}
	.col_main.left .grid_7, .col_main.right .grid_7 {width: 216px}
	.col_main.left .grid_8, .col_main.right .grid_8 {width: 248px}
	.col_main.left .grid_9, .col_main.right .grid_9 {width: 280px}
	.col_main.left .grid_10, .col_main.right .grid_10 {width: 312px}
	.col_main.left .grid_11, .col_main.right .grid_11 {width: 344px}
	.col_main.left .grid_12, .col_main.right .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}
	
	.main-side-to-single .col_main.left, .main-side-to-single .col_main.right {
		width: 100%
	}
	.main-side-to-single .col_main.left .grid_1, .main-side-to-single .col_main.right .grid_1 {width: 40px}
	.main-side-to-single .col_main.left .grid_2, .main-side-to-single .col_main.right .grid_2 {width: 100px}
	.main-side-to-single .col_main.left .grid_3, .main-side-to-single .col_main.right .grid_3 {width: 160px}
	.main-side-to-single .col_main.left .grid_4, .main-side-to-single .col_main.right .grid_4 {width: 220px}
	.main-side-to-single .col_main.left .grid_5, .main-side-to-single .col_main.right .grid_5 {width: 280px}
	.main-side-to-single .col_main.left .grid_6, .main-side-to-single .col_main.right .grid_6 {width: 340px}
	.main-side-to-single .col_main.left .grid_7, .main-side-to-single .col_main.right .grid_7 {width: 400px}
	.main-side-to-single .col_main.left .grid_8, .main-side-to-single .col_main.right .grid_8 {width: 460px}
	.main-side-to-single .col_main.left .grid_9, .main-side-to-single .col_main.right .grid_9 {width: 520px}
	.main-side-to-single .col_main.left .grid_10, .main-side-to-single .col_main.right .grid_10 {width: 580px}
	.main-side-to-single .col_main.left .grid_11, .main-side-to-single .col_main.right .grid_11 {width: 640px}
	.main-side-to-single .col_main.left .grid_12, .main-side-to-single .col_main.right .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}

	aside.col_sidebar {
	    width: 300px
	}
	.main-side-to-single aside.col_sidebar {
		display: none;
	}
}
@media (min-width:1081px) and (max-width:1300px) {	
	.col_main.left,
	.col_main.right {
	    width: 640px
	}
	.col_main.left ul.products li.product,
	.col_main.right ul.products li.product {
	    width: 154px;
	    margin-right: 8px
	}
	.col_main.left .grid_1, .col_main.right .grid_1,
	.col_main.left .grid_2, .col_main.right .grid_2,
	.col_main.left .grid_3, .col_main.right .grid_3,
	.col_main.left .grid_4, .col_main.right .grid_4,
	.col_main.left .grid_5, .col_main.right .grid_5,
	.col_main.left .grid_6, .col_main.right .grid_6,
	.col_main.left .grid_7, .col_main.right .grid_7,
	.col_main.left .grid_8, .col_main.right .grid_8,
	.col_main.left .grid_9, .col_main.right .grid_9,
	.col_main.left .grid_10, .col_main.right .grid_10,
	.col_main.left .grid_11, .col_main.right .grid_11 {
	    margin: 0 8px 1em 0
	}
	
	.col_main.left .grid_1, .col_main.right .grid_1 {width: 46px}
	.col_main.left .grid_2, .col_main.right .grid_2 {width: 100px}
	.col_main.left .grid_3, .col_main.right .grid_3 {width: 145px}
	.col_main.left .grid_4, .col_main.right .grid_4 {width: 208px}
	.col_main.left .grid_5, .col_main.right .grid_5 {width: 262px}
	.col_main.left .grid_6, .col_main.right .grid_6 {width: 316px}
	.col_main.left .grid_7, .col_main.right .grid_7 {width: 370px}
	.col_main.left .grid_8, .col_main.right .grid_8 {width: 424px}
	.col_main.left .grid_9, .col_main.right .grid_9 {width: 478px}
	.col_main.left .grid_10, .col_main.right .grid_10 {width: 532px}
	.col_main.left .grid_11, .col_main.right .grid_11 {width: 586px}
	.col_main.left .grid_12, .col_main.right .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}
	
	aside.col_sidebar {
	    width: 300px
	}
}
@media (min-width:1301px) {
	.col_main.left .grid_1, .col_main.right .grid_1,
	.col_main.left .grid_2, .col_main.right .grid_2,
	.col_main.left .grid_3, .col_main.right .grid_3,
	.col_main.left .grid_4, .col_main.right .grid_4,
	.col_main.left .grid_5, .col_main.right .grid_5,
	.col_main.left .grid_6, .col_main.right .grid_6,
	.col_main.left .grid_7, .col_main.right .grid_7,
	.col_main.left .grid_8, .col_main.right .grid_8,
	.col_main.left .grid_9, .col_main.right .grid_9,
	.col_main.left .grid_10, .col_main.right .grid_10,
	.col_main.left .grid_11, .col_main.right .grid_11 {
	    margin: 0 16px 1em 0
	}
	
	.col_main.left .grid_1, .col_main.right .grid_1 {width: 57px}
	.col_main.left .grid_2, .col_main.right .grid_2 {width: 130px}
	.col_main.left .grid_3, .col_main.right .grid_3 {width: 203px}
	.col_main.left .grid_4, .col_main.right .grid_4 {width: 276px}
	.col_main.left .grid_5, .col_main.right .grid_5 {width: 349px}
	.col_main.left .grid_6, .col_main.right .grid_6 {width: 422px}
	.col_main.left .grid_7, .col_main.right .grid_7 {width: 495px}
	.col_main.left .grid_8, .col_main.right .grid_8 {width: 568px}
	.col_main.left .grid_9, .col_main.right .grid_9 {width: 641px}
	.col_main.left .grid_10, .col_main.right .grid_10 {width: 714px}
	.col_main.left .grid_11, .col_main.right .grid_11 {width: 787px}
	.col_main.left .grid_12, .col_main.right .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}
}





















/*==============================================================================
    Banners
===============================================================================*/

.banner-space {
	margin-bottom: 0;
}
.top-banner-space {
	border-top: none;
	border-bottom: none;
}
.banner-space-no-top-border {
	border-top: none;
}
.banner-space-no-bottom-border {
	border-bottom: none;
}
.banner-container {
	padding-top: 0;
}
/* Show if banner small exists */
@media (min-width:1301px) {
	.double-banner .banner_big {
		float: left;
		padding: 6px;
		border: solid 1px #DDD;
		margin-left: 35px;
	}
	.double-banner .banner_small {
		float: right;
		margin-right: 35px;
		border: solid 1px #DDD;
	}
}
@media (max-width:1300px) {
	.double-banner .banner_small {
		display: none;
	}
}
@media (min-width:0px) and (max-width:760px) {
	.banner-space, .ad-banner-728x90 {
		display: none;
	}
}
.ad-banner-300x250 {
	text-align: center;
}


/*==============================================================================
    Home Flexislider
===============================================================================*/

.home .gallery-single {
    background: #fff url("../images/ajax-loader.gif") no-repeat center center;
    background-image: none;
    width: 100%;
    position: relative;
    float: left;
    margin: 0 0 2em 0;
    padding: 0;
	margin-bottom: 0px;
	margin-top: 15px;
}
.home .gallery-single .slides > li {
    position: relative;
    display: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.home .gallery-single img {
    width: 100%;
    display: block
}
.home .gallery-single .post-box-text h3, .home .gallery-single .post-box-text h3 a {
    margin-top: 0.1em;
    font-weight: 700;
    font-size: 32px
}
.home .gallery-single .post-box-text h4 {
    color: #fff
}
.home .gallery-single .post-box-text span a {
    color: #fff
}
.home .gallery-single .flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden
}
.home .gallery-single .flex-control-thumbs li {
    padding: 2px;
    border: 1px solid #eee;
    width: 168px;
    float: left;
    margin: 0
}
.home .gallery-single .flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer
}
.home .gallery-single .flex-control-thumbs img:hover {
    opacity: 1
}
.home .gallery-single .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default
}
.home .gallery-no-thumbs .flex-control-thumbs {
		display: none;
}

.home .gallery-single.gallery-only-one .post-box-text {
    color: #333;
    padding: 1em;
    width: 100%;
    position: relative;
    background: none;
}
.home .gallery-single.gallery-only-one .post-box-text h3, .home .gallery-single.gallery-only-one .post-box-text h3 a {
    text-align: center;
    margin-top: 0em;
    font-weight: 700;
    font-size: 32px;
    color: #333;
}
.home .gallery-single.gallery-only-one .post-box-text h4 {
    color: #444;
    text-align: center;
}
.home .gallery-single.gallery-only-one .post-box-text span {
	display: none;
}
.home .gallery-single.gallery-only-one .post-box-text p {
	display: none;
}

@media (min-width:0px) and (max-width:760px) {
	.home .gallery-single .post-box-text h3, .home .gallery-single .post-box-text h3 a {
    	font-size: 22px;
	}
	.home .gallery-single .post-box-text span {
		display: none;
	}
	.home .gallery-single .flex-control-thumbs {
		display: none;
	}
	.home .gallery-single .flex-direction-nav a {
		top: 40px;
	}
	.home .gallery-single .post-box-text {
	    color: #333;
	    padding: 1em;
	    width: 100%;
	    position: relative;
	    background: none;
	}
	.home .gallery-single .post-box-text h3, .home .gallery-single .post-box-text h3 a {
	    text-align: center;
	    margin-top: 0em;
	    font-weight: 700;
	    font-size: 32px;
	    color: #333;
	}
	.home .gallery-single .post-box-text h4 {
	    color: #444;
	    text-align: center;
	}
	.home .gallery-single .post-box-text span {
		display: none;
	}
	.home .gallery-single .post-box-text p {
		display: none;
	}
	
}
@media (min-width:761px) and (max-width:1080px) {
	.home .gallery-single .post-box-text h3, .home .gallery-single .post-box-text h3 a {
    	font-size: 28px;
	}
	.home .gallery-single .post-box-text h4 {
		display: none;
	}
	.home .gallery-single.gallery-only-one .post-box-text h4 {
		display: block;
	}
	.home .gallery-single .post-box-text span {
		display: none;
	}
	.home .gallery-single .flex-control-thumbs {
		display: none;
	}
	.home .gallery-single .flex-direction-nav a {
		top: 40px;
	}
}
@media (min-width:1081px) and (max-width:1300px) {
	.home .gallery-single .flex-direction-nav {
		display: none;
	}
	.home .gallery-single .flex-control-thumbs li {
	    width: 137px;
	}
	.home .gallery-single.gallery-no-thumbs .flex-direction-nav {
		display: block;
	}
	.home .gallery-single.gallery-no-thumbs .flex-direction-nav a {
		top: 40px;
	}
}
@media (min-width:1301px) {
	.home .gallery-single .flex-direction-nav {
		display: none;
	}
	.home .gallery-single.gallery-no-thumbs .flex-direction-nav {
		display: block;
	}
}



/*==============================================================================
    Background Advertise
===============================================================================*/
@media (min-width:1081px) {
	#wrapper.boxed_add {
		background-repeat:  no-repeat;
		background-position: center top;
		background-attachment: fixed;
	}
	#wrapper.boxed_add .banner_small {
		display: none;
	}
	#wrapper.boxed_add .banner_big {
		float: none;
		padding: 0px;
		border: none;
		margin-left: 0px;
	}
	#wrapper.boxed_add .above-the-fold.light {
		background: none;
		padding-top: 180px;
		margin-bottom: 0px;
		border-bottom: none;
	}
	#wrapper.boxed_add .above-the-fold.light .inner-wrapper {
		background: #FFF;
		padding-top: 20px;
	}
	#wrapper.boxed_add #section {
		padding-top: 0px;
		margin-bottom: 0px;
	}
	#wrapper.boxed_add #section .inner-wrapper {
		background: #FFF;
		padding-top: 20px;
		padding-bottom: 14px;
	}
}
@media (min-width:1301px) {
	#wrapper.boxed_add .grid_6 .main-item, #wrapper.boxed_add .grid_6 .small-items, #wrapper.boxed_add .grid_4 .main-item, #wrapper.boxed_add .grid_4 .small-items {
		width: auto;
	}
	#wrapper.boxed_add #header h1#site-logo img {
    	max-height: 90px;
		max-width: 230px;
	}
	/* SHOW only if Header Banner is NOT exists
	#wrapper.boxed_add #header h1#site-logo img {
	    max-width: none;
	}
	*/
}

@media (min-width:761px) and (max-width:1080px) {
	#wrapper.boxed_add.inner-wrapper {
	    width: 740px
	}
	#wrapper.boxed_add {
		background-repeat:  no-repeat;
		background-position: center top;
		background-attachment: fixed;
	}
	#wrapper.boxed_add .banner_small {
		display: none;
	}
	#wrapper.boxed_add .banner_big {
		float: none;
		padding: 0px;
		border: none;
		margin-left: 0px;
	}
	#wrapper.boxed_add .above-the-fold.light {
		background: none;
		padding-top: 180px;
		margin-bottom: 0px;
		border-bottom: none;
	}
	#wrapper.boxed_add .above-the-fold.light .inner-wrapper {
		background: #FFF;
		padding-top: 20px;
	}
	#wrapper.boxed_add #section {
		padding-top: 0px;
		margin-bottom: 0px;
	}
	#wrapper.boxed_add #section .inner-wrapper {
		background: #FFF;
		padding-top: 20px;
		padding-bottom: 14px;
	}
}

/*==============================================================================
    Block layout 6
===============================================================================*/

/* Global */
.block-layout-six:after,
.block-layout-six:before,
.block-layout-six .main-item:before,
.block-layout-six .main-item:after  {
    content: " ";
    display: table
}

.block-layout-six:after,
.block-layout-six .main-item:after {
    clear: both
}

.block-layout-six .main-item .post-img {
    position: relative;
    margin-bottom: 0.5em;
    display: block
}
.block-layout-six .main-item .post-img span {
    position: absolute;
    left: 1em;
    bottom: 1em;
    color: #fff;
    font-size: 11px;
    padding: 5px;
    display: inline-block;
    line-height: 1;
    vertical-align: text-top;
    margin-right: 2px;
    text-transform: uppercase;
    text-align: center
}
.block-layout-six .main-item .post-img span a {
    color: #fff !important
}

/* Base */
.block-layout-six {}
.block-layout-six .main-item {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee
}
.block-layout-six .main-item.no-image > .post-meta {
    width: 100%;
    float: none
}
.block-layout-six .main-item .post-img {
    position: relative;
    width: 150px;
    display: inline;
    float: left;
    margin-right: 20px;
}
.block-layout-six .main-item .post-img img {
    width: 100%
}
.block-layout-six .main-item .post-meta {
    position: relative;
    width: 690px;
    display: inline;
    float: left;
    margin-right: 0px;
}
.block-layout-six .main-item h3 {
    margin-bottom: 0.1em;
    font-weight: 700
}
.block-layout-six .main-item ul.rating-list {
    float: none
}
.block-layout-six .main-item ul.rating-list li {
    border: none;
    padding: 0;
    margin: 0
}
.block-layout-six .main-item ul.rating-list li .rating-stars {
    float: none;
    text-align: left
}

@media (min-width:0px) and (max-width:760px) {
	.block-layout-six .main-item .post-img,
	.block-layout-six .main-item .post-meta {
	    display: block;
	    float: none;
	    margin-right: 0;
	}
	.block-layout-six .main-item .post-img,
	.block-layout-six .main-item .post-meta {
	    width: 100%
	}
}
@media (min-width:761px) and (max-width:1080px) {
	.block-layout-six .main-item .post-img {
	    width: 200px
	}
	.block-layout-six .main-item .post-meta {
	    width: 300px
	}
}
@media (min-width:1081px) and (max-width:1300px) {
	.block-layout-six .main-item .post-img {
	    width: 280px
	}
	.block-layout-six .main-item .post-meta {
	    width: 424px
	}
}

/*==============================================================================
    Post
===============================================================================*/

.caption {
    clear: both;
    display: block;
    margin-bottom: 14px;
    color: #999;
}

/* Global */
.post-left:before,
.post-left:after,
.post-right:before,
.post-right:after,
.post-left-list:before,
.post-left-list:after {
    content: " ";
    display: table
}
.post-left:after,
.post-right:after,
.post-left-list:after {
    clear: both
}
/* Base */
.post-left, .post-right {
    width: 50%;
    float: left;
    margin: 0.3em 2em 1em 0;
    background-color: #f9f9f9;
}
.post-right {
    float: right;
    margin: 0.3em 0 1em 2em;
}
.post-left-list {
    width: 30%;
    float: left;
    margin: 0.3em 2em 1em 0;
    padding: 15px;
    padding-bottom: 0px;
    background-color: #f9f9f9;
}
.post-left img, .post-right img {
	margin-bottom: 14px;
}
.post-left .gallery-single img, .post-right .gallery-single img {
	margin-bottom: 0px;
}
.post-left .caption, .post-right .caption {
	padding-left: 14px;
	padding-right: 14px;
}

/* Rating */
.post-left .sectionlist, .post-right .sectionlist {
    padding: 1em
}
.post-left .sectionlist h4, .post-right .sectionlist h4 {
    color: #fff
}
.post-left .sectionlist ul.section-list li, .post-right .sectionlist ul.section-list li  {
    border-bottom: 1px solid #ddd;
}
.post-left .sectionlist ul.section-list li:last-child, .post-right .sectionlist ul.section-list li:last-child {
    border-bottom: none
}
.post-left .sectionlist ul.section-list li .section-stars:before, .post-right .sectionlist ul.section-list li .section-stars:before {
    color: #ddd
}
.post-left .sectionlist ul.section-list li p, .post-right .sectionlist ul.section-list li p {
    color: #555
}

/* Total */
.post-left .total, .post-right .total {
    height: 70px;
    line-height: 70px;
    padding: 0 1em;
    background-color: #ddd;
    color: #333
}
.post-left .total span, .post-right .total span {
    text-transform: uppercase;
    font-weight: 700
}
.post-left .total span strong, .post-right .total span strong {
    font-size: 60px;
    float: right;
    color: #333
}

@media (min-width:0px) and (max-width:760px) {
	/* Base */
	.post-left, .post-right {
	    width: 100%;
	    float: none;
	    margin: 0 0 1em 0
	}
	.post-left-list {
	    width: 100%;
	    float: none;
	    margin: 0 0 1em 0
	}
}

.gallery-caption-body {
	background-color: #FAFAFA;
	padding: 10px;
}
.gallery-caption-body h3 {
	padding-top: 10px;
}

.section-gallery .flex-direction-nav a {
	top: 40px;
}
.post-subscription {
	 padding: 30px 0px;
}
.section-gallery .post-subscription {
	 padding-top:60px;
}
.post-subscription .subscription-table {
	padding: 20px;
}
.post-subscription .subscription-table-column {
	width: 25%;
}
.post-meta .img_badge {
	height: 35px;
	display: inline;
	width: auto !important;
	margin-right: 5px;
	margin-bottom: 5px;
}


/*==============================================================================
    Sections Menu
===============================================================================*/

/* Global */
.sections-primary-menu ul.sections-menu:before,
.sections-primary-menu ul.sections-menu:after {
    content: " ";
    display: table
}
.sections-primary-menu ul.sections-menu:after {
    clear: both
}
/* Base */
.sections-primary-menu {
    position: relative;
    z-index: 11;    
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
}
.sections-primary-menu.dark {
    background-color: #222;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333
}
.sections-primary-menu.light {
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee
}
.sections-primary-menu ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0
}
.sections-primary-menu a {
    display: block;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

/* Top menu */
.sections-primary-menu .sections-menu > li {    
    border-left: 1px solid #333;
    float: left
}
.sections-primary-menu .sections-menu > li:last-child {
    border-right: 1px solid #333;
}
.sections-menu > li > a {
    border-bottom: 2px solid;
    color: #fff;
    padding: 15px 10px;
    display: block;
    position: relative;
    font-weight: bold;
}

/* Version */
.sections-primary-menu.dark .sections-menu > li:hover > a {
    color: #fff;
    background-color: #292929
}
.sections-primary-menu.light .sections-menu > li > a {
    color: #333
}
.sections-primary-menu.light .sections-menu > li {    
    border-left: 1px solid #eee
}
.sections-primary-menu.light .sections-menu > li:last-child {
    border-right: 1px solid #eee;
}
.sections-primary-menu.light .sections-menu > li:hover > a {
    color: #333;
    background-color: #f9f9f9;
    font-weight: bold;
}

/* Button */
.sections-primary-menu.light .click-to-open-menu {
    background-color: #f9f9f9;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #333
}
.sections-primary-menu.dark .click-to-open-menu {
    background-color: #292929;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    color: #fff
}
.sections-primary-menu .click-to-open-menu {
    width: auto;
}

.sections-primary-menu.light ul.menu-mobile li a {
    color: #333;
}
.sections-primary-menu.dark ul.menu-mobile li a {
    color: #fff;
}

/* Dark */
.sections-primary-menu.dark ul.menu-mobile li a {
    border-bottom: 1px solid #333
}
.sections-primary-menu.dark ul.menu-mobile li:last-child a {
    border-bottom: none
}

/* Light */
.sections-primary-menu.light ul.menu-mobile li a {
    border-bottom: 1px solid #eee
}
.sections-primary-menu.light ul.menu-mobile li:last-child a {
    border-bottom: none
}

@media (min-width:0px) and (max-width:760px) {
	ul.sections-menu {
	    display: none
	}
}
@media (min-width:761px) and (max-width:1080px) {
	ul.sections-menu {
	    display: none
	}
}
@media (min-width:1081px) and (max-width:1300px) {
	.sections-menu > li > a {
	    display: none
	}
	.sections-primary-menu .click-to-open-menu {
	    display: block !important;
	}	
}
@media (min-width:1301px) {
	.sections-menu > li > a {
	    display: none
	}
	.sections-primary-menu .click-to-open-menu {
	    display: block !important;
	}	
}
.sections-primary-menu.dark, .sections-primary-menu.light, .sections-primary-menu.light .sections-menu > li, .sections-primary-menu.light .sections-menu > li:last-child, .sections-primary-menu.dark .sections-menu > li, .sections-primary-menu.dark .sections-menu > li:last-child, .sections-menu > li > a {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
}
.sections-primary-menu.light {
    border-bottom: solid 1px #EEE;
}
.sections-primary-menu-active {
}


/*==============================================================================
    Embeds
===============================================================================*/

/* Twitter */
blockquote.twitter-tweet {
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}


/*==============================================================================
    Products
===============================================================================*/
.product .img_badge {
	height: 35px;
	display: inline;
	width: auto !important;
	margin-right: 5px;
	margin-bottom: 5px;
}
.product-table th {
	text-align: left;
	border-bottom: none;
	padding-left: 0px;
}
.product-table {
	width: auto;
}
.product-table td {
	border-bottom: none;
}
#main .product .summary h1 {
	font-size: 25px;
}
.checkout-table {
	padding: 20px;
}
.checkout-table .checkout-table-column-price {
	text-align: right;
}


/*==============================================================================
    Footer
===============================================================================*/
.widget-categories li::before {
	content: none;
}

.simplekiosk-img {
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	height: 40px;
	margin-bottom: 10px;
}
.simplekiosk-img img {
	max-height: 40px;
}
.simplekiosk-notice {
	text-align: center;
	font-size: 0.7em;
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
	line-height: normal;
}

.copyright-notice {
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
	line-height: normal;
}
.copyright-thirdparty {
	padding: 0px;
	margin: 0px;
	text-align: right;
	font-size: 0.7em;
	margin-bottom: 10px;
	line-height: normal;
}

.copyright-menu {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
}
.copyright-menu li {
	display: inline-block;
}
.copyright-menu li a {
	display: block;
	float: left;
	margin-right: 8px;
}

#copyright .icon-payments {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
}
#copyright .icon-payments li {
	display: inline-block;
	list-style: none;
	margin-left: 5px;
}
#copyright .icon-badges li i {
	display: block;
	float: right;
	text-align: center;
	padding: 5px;
	font-size: 20px;
}

#copyright .icon-badges {
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
}
#copyright .icon-badges li {
	display: inline-block;
	list-style: none;
}
#copyright .icon-badges li a {
	display: block;
	height: 40px;
	float: right;
	margin-left: 10px;
}
#copyright .icon-badges li a img {
	max-height: 40px;
}

#copyright .icon-socials {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
}
#copyright .icon-socials li {
	display: inline-block;
	list-style: none;
}
#copyright .icon-socials li a {
	display: block;
	color: #FFF;
	width: 40px;
	height: 34px;
	float: left;
	text-align: center;
	padding-top: 6px;
	margin-right: 7px;
	border-radius: 50%;
	font-size: 22px;
	
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-moz-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}
#copyright .icon-socials li a:hover {
	border-radius: 20%;
}
#copyright .icon-socials li a span {
	display: none;
}
#copyright .icon-socials .icon-socials-facebook {
	background-color: #3b5998;
}
#copyright .icon-socials .icon-socials-twitter {
	background-color: #00aced;
}
#copyright .icon-socials .icon-socials-linkedin {
	background-color: #007bb5;
}
#copyright .icon-socials .icon-socials-google {
	background-color: #4885ed;
}
#copyright .icon-socials .icon-socials-youtube {
	background-color: #bb0000;
}
#copyright .icon-socials .icon-socials-pinterest {
	background-color: #cb2027;
}
#copyright .icon-socials .icon-socials-vimeo {
	background-color: #45bbff;
}

@media (min-width:0px) and (max-width:760px) {
	.copyright-thirdparty {
		text-align: center;
	}
	#copyright .icon-socials {
		margin-left: auto;
		margin-right: auto;
		text-align:center;
	}
}
@media (min-width:761px) and (max-width:1080px) {
	#copyright,
	#copyright .grid_6:last-child {
	    text-align: center
	}
	#copyright .grid_6 {
		width: 100%;
	}	
	.copyright-thirdparty {
		text-align: center;
	}
	#copyright .icon-socials {
		margin-left: auto;
		margin-right: auto;
		text-align:center;
	}
}
/*==============================================================================
    Simplefy
===============================================================================*/
.post-dca {
    border-top: transparent;
    border-bottom: transparent;
    margin-top: 0px;
}

.post-dca a {
	color: #AAA;
}
.post-dca a:hover {
	color: #777;
}
.block-layout-three .main-item h3,
.block-layout-four .main-item h3,
.block-layout-two .main-item h3 {
    padding-left: 0em;
    border-left: none;
	font-size: 22px;        
}
article .post-meta {
    border-bottom: none;
    padding: 0.5em;
    text-transform: none;
}
article .post-meta span::before, .post-meta span, article .post-meta span a, .post-meta span::before {
    color: #999;
}
article .post-meta span a, article .post-meta span::before {
    color: #CCC;
}
article .post-meta span a:hover {
    color: #777;
}

.post-info {
    border-bottom: none;
    font-size: 14px;
    text-transform: none
}
.post-info span::before, .post-info span {
    color: #CCC;
}
.post-info span a {
    color: #CCC;
}
.post-info span a:hover {
    color: #777;
}
.post-share span.share-text {
	display: none;
}

.main-side-to-single .block-layout-one .title {
	display: none;
}
.main-side-to-single .comments .title {
	display: none;
}
.main-menu {
	font-size: 14px;
}
.tabs .ui-tabs-nav li {
	font-size: 14px;
}

/*==============================================================================
    Responsive
===============================================================================*/

@media (min-width:0px) and (max-width:760px) {
	.hide_on_0_760 {
		display: none;
	}
	.mega-menu-full {
		display: none;
	}
	/* Sidebar */
	aside#sidebar, .footer-quicklinks {
		display: none;
	}
	
}
@media (min-width:761px) and (max-width:1080px) {
	.hide_on_761_1080 {
		display: none;
	}
	.footer-quicklinks {
		display: none;
	}	
	.post-dca .author, .post-dca .comments {
		display: none;
	}
	.post-dca {
		border-bottom: none;
		border-top: none;
	}
	.mega-menu-full {
		display: none;
	}
	/* Main */
	#main.left,
	#main.right {
	    width: 380px
	}
	.block-layout-five .main-item .post-img,
	.block-layout-five .main-item .post-meta {
	    display: block;
	    float: none;
	    margin-right: 0;
	}
	.block-layout-five .main-item .post-img,
	.block-layout-five .main-item .post-meta {
	    width: 100%
	}
	.block-layout-six .main-item .post-img,
	.block-layout-six .main-item .post-meta {
	    display: block;
	    float: none;
	    margin-right: 0;
	}
	.block-layout-six .main-item .post-img,
	.block-layout-six .main-item .post-meta {
	    width: 100%
	}
	/* Sidebar */
	aside#sidebar {
	    width: 300px
	}
	/* Grid with Sidebar */
	#main.left .grid_1, #main.right .grid_1 {width: 24px}
	#main.left .grid_2, #main.right .grid_2 {width: 56px}
	#main.left .grid_3, #main.right .grid_3 {width: 88px}
	#main.left .grid_4, #main.right .grid_4 {width: 120px}
	#main.left .grid_5, #main.right .grid_5 {width: 152px}
	#main.left .grid_6, #main.right .grid_6 {width: 184px}
	#main.left .grid_7, #main.right .grid_7 {width: 216px}
	#main.left .grid_8, #main.right .grid_8 {width: 248px}
	#main.left .grid_9, #main.right .grid_9 {width: 280px}
	#main.left .grid_10, #main.right .grid_10 {width: 312px}
	#main.left .grid_11, #main.right .grid_11 {width: 344px}
	#main.left .grid_12, #main.right .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}
	
	.main-side-to-single #main.left, .main-side-to-single #main.right {
		width: 100%
	}
	.main-side-to-single aside#sidebar {
		display: none;
	}
	.main-side-to-single #main.left .grid_1, .main-side-to-single #main.right .grid_1 {width: 40px}
	.main-side-to-single #main.left .grid_2, .main-side-to-single #main.right .grid_2 {width: 100px}
	.main-side-to-single #main.left .grid_3, .main-side-to-single #main.right .grid_3 {width: 160px}
	.main-side-to-single #main.left .grid_4, .main-side-to-single #main.right .grid_4 {width: 220px}
	.main-side-to-single #main.left .grid_5, .main-side-to-single #main.right .grid_5 {width: 280px}
	.main-side-to-single #main.left .grid_6, .main-side-to-single #main.right .grid_6 {width: 340px}
	.main-side-to-single #main.left .grid_7, .main-side-to-single #main.right .grid_7 {width: 400px}
	.main-side-to-single #main.left .grid_8, .main-side-to-single #main.right .grid_8 {width: 460px}
	.main-side-to-single #main.left .grid_9, .main-side-to-single #main.right .grid_9 {width: 520px}
	.main-side-to-single #main.left .grid_10, .main-side-to-single #main.right .grid_10 {width: 580px}
	.main-side-to-single #main.left .grid_11, .main-side-to-single #main.right .grid_11 {width: 640px}
	.main-side-to-single #main.left .grid_12, .main-side-to-single #main.right .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}
		
}
@media (min-width:1081px) and (max-width:1300px) {
	.hide_on_1081_1300 {
		display: none;
	}
	/* Main */
	#main.left,
	#main.right {
	    width: 640px
	}
	.block-layout-five .main-item .post-img {
	    width: 200px
	}
	.block-layout-five .main-item .post-meta {
	    width: 420px
	}
	.block-layout-six .main-item .post-img {
	    width: 200px
	}
	.block-layout-six .main-item .post-meta {
	    width: 420px
	}
	.block-layout-six .main-item .post-meta p {
	    display: none;
	}
	/* Products - Full page */
	ul.products li.product {
	    width: 222px;
	    margin-right: 24px
	}
	/* Products - With sidebar */
	#main.left ul.products li.product,
	#main.right ul.products li.product {
	    width: 154px;
	    margin-right: 8px
	}
	/* Sidebar */
	aside#sidebar {
	    width: 300px
	}
	/* Grid with Sidebar */
	#main.left .grid_1, #main.right .grid_1 {width: 46px}
	#main.left .grid_2, #main.right .grid_2 {width: 100px}
	#main.left .grid_3, #main.right .grid_3 {width: 145px}
	#main.left .grid_4, #main.right .grid_4 {width: 208px}
	#main.left .grid_5, #main.right .grid_5 {width: 262px}
	#main.left .grid_6, #main.right .grid_6 {width: 316px}
	#main.left .grid_7, #main.right .grid_7 {width: 370px}
	#main.left .grid_8, #main.right .grid_8 {width: 424px}
	#main.left .grid_9, #main.right .grid_9 {width: 478px}
	#main.left .grid_10, #main.right .grid_10 {width: 532px}
	#main.left .grid_11, #main.right .grid_11 {width: 586px}
	#main.left .grid_12, #main.right .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}	
}
@media (min-width:1301px) {
	.hide_on_1301 {
		display: none;
	}
}
